{{ attach_library('indegene_mod/config_form_styling') }}

{{ form.form_build_id }}
{{ form.form_token }}
{{ form.form_id }}
<div class="config-form">
  {{ form.default_value1 }}
  {{ form.default_value2 }}
  {{ form.default_value3 }}
  {{ form.file_upload }}
  {{ form.submit }}
</div>
